.welcome-div {
    background-image: url('images/givingheart.jpg');
}

.welcome-message {
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: red;*/
    text-align: center;
    padding: 100px;
    font-size: 50px;
}

.description {
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: red;*/
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.start-button {
    padding-bottom: 100px;
}

.what-we-do {
    background-color: aliceblue;
}

.header {
    padding-top: 100px;
    padding-bottom: 50px;
}


.who-we-are {
    background-color: lightyellow;
}

.bios {
    text-align: center;
}
