body {
    background-color: #f1f1f1;
}


.login {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center !important;
    left: 50% !important;
}

.login-label {
    padding-right: 375px;
    text-align: left;
}

.login-input {
    font-size: 15px;
    padding: 5px 300px 5px 10px;
    border-radius: 5px;
    background-color: #E8F0FE;
    border-color: #6D9FCF;
    border-width: 1px;
}

.login-logo {
    width: 10%;
    margin-right: 21%;
    margin-top: 5%;
}

.login-btn {
    margin-right: 24%;
    margin-top: 10px;
}


.loader {
    position:fixed;
    padding:100px;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

.alert {
    width: 30%;
    text-align: left;
    padding: 10px;
}



.profile-headers {
    margin: 10px 10px 30px 10px;
}

.point-header {
    padding-bottom: 10px;
    font-size: 125%;
}

.points-btns {
    margin-top: 15px;
    position: relative;
    float: left;
}

.coupon {
    width: 100%;
}



@media only screen and (max-width: 800px) {
    .login-logo{
        margin-top: 12%;
    }


}


h2{
   justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
}


.formsbtn{
    justify-content: center;
}


.text-center {
    width: 70%;
}

.text-center p{
    font-size: 1em;
}

.leader-btn{
    padding-top: 5%;
    padding-bottom: 10%;
}


.logout-btn{
    padding-bottom:5%;
}

.extras {
    padding-top: 100px;
}


/*.redeem-btn {*/
/*margin-right: 320px;*/
/*}*/